<!--
<header>
  <img src = "../assets/images/mushroomEncyclopedia.png" id = "logo" >
</header>

<section id = "welcome">
 <h1> Welcome </h1>
 <p> Identify the specific type of <br> mushroom by uploading an
image </p>

<label for = "mushroom"> Choose File </label>
<input type="file"
       id="mushroom" name="mushroom"
       accept="image/png, image/jpeg" (change)="fileChange($event)">
       
           
<div style = "display: inline-block; visibility: hidden;">
   <img id = "mushroomAttachment" src="/assets/images/beech.png" style = "width: 30px; height: 30px">
</div>
       
<div style = "padding-top: 19px;">
  <a routerLink = "/mushroomIdentification"> <input type="button" value="Find Mushroom" style = "border: 0; background-color: white; font-family: 'Karla'; font-weight: 700; font-size: 1.7vw; height: 9vh; cursor:pointer;"> </a>
</div>

</section>
-->


<div class = "router">
<router-outlet></router-outlet>
</div>